#addHeadline {
  font-family: "Irish Grover", cursive;

  margin-top: 5%;
  font-size: 70px;
  text-shadow: 12px 12px 12px rgb(255, 255, 255);
  text-align: center;
}
#theForm {
  font-size: 150%;
  font-family: 'IM Fell DW Pica SC', serif;
  text-align: center;
  text-shadow: 1px 2px 1px rgb(255, 255, 255);
}
#theForm input{
width: 25%;
border-radius: 5%;
box-shadow: 5px 5px 4px black;
margin-top: 1%;
margin-bottom: 1%;
  }
#addBtn{
    font-weight: 900;
    font-style: italic;
    background-color: royalblue;
    width: 10%;
    margin-top: 8px;
    font-size: 90%;
    font-family: 'IM Fell DW Pica SC', serif;
  }
  #mgmGif{
    margin-left: 30%;
  }
